.image{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

header{
    margin-bottom: 20px;
}
button{
    margin-left: 10px;
}
.checkTrue{
    font-size: 25px;
    text-decoration: line-through;
}
.checkFalse{
    font-size: 25px;
}
.checkbox{
    margin-right: 10px;
}
span{
    flex: 1 0 auto;
} 

.test{
    text-align: center;
}

.line{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.hline{
    display: flex;
    justify-content: center;
    align-items: center;
}

.editinp{
    width: 100%;
}